/target/
/config/botconfig.properties
/config/dts.json
/config/geofences.txt
/config/groupchatid.txt
/config/groupgeofences.txt
/config/groupiv.txt
/config/groupmonsters.txt
/config/groupraidmonsters.txt
/config/groupraidlevel.txt
/config/groupxraidgymall.txt
/screenshots/
/output/
/src/main/java/pogorobot/tests/
/logs/
/*.log
/*.log.1
/*.log.2
/*.gz
/.classpath
/.project
/.settings/
/raidbosslist.xml
.DS_Store
/pom.xml.releaseBackup
/release.properties
